.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 99;
    background-color: #263238;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
    z-index: 99;
    i {
        font-size: 20px;
    }
    .messages {
        position: relative;
        margin-left: auto;
        .messages__numb {
            position: absolute;
            right: 10px;
            top: 0;
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background: #DA2C48;
        }
    }
    .divider {
        margin: 0 20px;
        background: rgba(244, 246,248,0.1);
    }
    .navbarAdd {
        position: relative;
        .addMenu {
            position: absolute;
            top: 40px;
            left: -50px;
            padding-top: 5px;
            background: #FFFFFF;
            box-shadow: 0 7px 14px rgba(0, 0, 0, 0.19);
            border-radius: 6px;
            z-index: 9999;
            .addItem {
                display: inline-block;
                position: relative;
                width: 100%;
                margin-bottom: 5px;
                padding: 14px 14px 14px 54px;
                color: #263238;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-align: left;
                cursor: pointer;
                &:not(:last-child) {
                    border-bottom: 1px solid #E2E5E8;
                }
                @media screen and (min-width: 1000px) {
                    &:hover {
                        color: #26A9CC;
                    }
                }
                img, svg {
                    position: absolute;
                    left: 14px;
                    top: calc(50% - 10px);
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .burgerBtn {
        display: none;
        margin-right: 10px;
        min-width: 30px;
        i {
            font-size: 22px;
            vertical-align: bottom;
        }
    }
    @media screen and (max-width:1000px){
        padding: 0 5px !important;
        .burgerBtn {
            display: block;
        }
        .addBtn {
            min-width: 45px;
            .addBtnText {
                display: none;
            }
        }
        .navbarAdd {
            .addMenu {
                position: absolute;
                top: 45px;
                left: -200px;
                z-index: 99;
            }
        }
    }
    @media screen and (max-width:760px){
        .logo {
            width: 160px;
            margin-right: 10px;
            img  {
                width: 100%;
                height: auto;
            }
        }
        .messages {
            display: none;
            i {
                font-size: 14px;
            }
            .messages__numb {
                right: 10px;
                top: 0;
                width: 17px;
                height: 17px;
                line-height: 17px;
            }
        }
        .addBtn {
            min-width: 35px;
            padding: 6px 10px;
        }
        .divider {
            margin-left: auto;
        }
        .navbarAdd {
            .addMenu {
                position: fixed;
                top: 64px;
                left: 0;
                width: 100%;
                z-index: 99;
            }
        }
    }
    @media screen and (max-width:540px){
    }
}
